@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1600px;
    background-color: lightgray;
}

li {
    list-style: none;
    
}

a {
    text-decoration: none;
}


#header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spanHeader {
    width: 100%;
    background-color: white;
    text-align: center;
    color: #FF6363;
    font-weight: 700;
    height: 36.44px;
}


#header article {
    height: 100%;
    display: flex;
}

#header .menu-icon {
    font-size: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms ease;
}

.menu-icon:hover {
    transform: scale(1.1);
}

#header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav {
    gap: 20px;
    margin-top: 58px;
}

.menu--Logo ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-nav  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.header-nav-3rdPart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}


.primaryButton {
    background-color: #FF6363;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 33px;
    height: 45px;
    width: 200px;
    transition: all 300ms ease;
}

.primaryButton:hover {
    background-color: white;
    color: #FF6363;
}

.header-nav-3rdPart .nav-icons-userInteraction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    cursor: pointer;
}


.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
    
}

.search {display: inline-block;}

.search input {
  width: 250px;
  height: 40px;

  background: #fcfcfc;
  border: none;
  border-radius: 33px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  font-weight: 700;
}

.search input { text-indent: 32px;}
.search .fa-search { 
  position: absolute;
  top: 10px;
  right: 30px;
  color: #FF6363;
}


.nav-menu-lists {
    width: 100%;
    border: 1px solid black;
    height: 400px;
    position: relative;
}




.menu-icon-open, .menu-icon-close {
    display: none;
}

.open {
    display: block;
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #FF6363;
  }
  
  .svg-icon circle {
    stroke: #FF6363;
    stroke-width: 1;
  }

  