@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #D9D9D9;
    gap: 60px;
}

li {
    list-style: none;
    
}

a {
    text-decoration: none;
}



#header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spanHeader {
    width: 100%;
    background-color: white;
    text-align: center;
    color: #FF6363;
    font-weight: 700;
    height: 36.44px;
}


#header article {
    display: flex;
}

#header .menu-icon {
    font-size: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms ease;
}

.menu-icon:hover {
    transform: scale(1.1);
}

#header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav {
    gap: 20px;
    margin-top: 58px;
    z-index: 100;
}

.menu--Logo ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-nav  ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}

.header-nav-3rdPart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}


.primaryButton {
    background-color: #FF6363;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 33px;
    height: 45px;
    width: 200px;
    transition: all 300ms ease;
}

.primaryButton:hover {
    background-color: white;
    color: #FF6363;
}

.header-nav-3rdPart .nav-icons-userInteraction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    cursor: pointer;
}


.search {
    position: relative;
    color: #aaa;
    font-size: 16px;
    
}

.search {display: inline-block;}

.search input {
  width: 250px;
  height: 40px;

  background: #fcfcfc;
  border: none;
  border-radius: 33px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  font-weight: 700;
}

.search input { text-indent: 32px;}
.search .fa-search { 
  position: absolute;
  top: 10px;
  right: 30px;
  color: #FF6363;
}




.menu-icon-open, .menu-icon-close {
    display: none;
}

.open {
    display: block;
}





/* menu style */

.nav-menu-lists {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: absolute;
    margin-top: 100px;
    top: 140px;
    margin-top: 20px;
    height: 0;
    opacity: 0;
    z-index: 0;
    transition: all 300ms ease;
    background-color: #E6E6E6;
}

.open-menu {
    height: 400px;
    opacity: 1;
    z-index: 10;
    transition: all 300ms ease;
}

.nav-menu-lists {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.nav-menu-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    gap: 30px;
    max-width: 1200px;
}

.menu-list-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    text-align: left;
    border-right: 1px solid #3D3E45;

}

.menu-list-container ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.line-divide {
    width: 33px;
    border: 3px solid #FF6363;
    border-radius: 33px;
}

.nav-menu-item {
    width: 100%;
    max-width: 332px;
    
}


/* ----- second section ----- */

#second-section {
    width: 100%;
    height: 1400px;
    background-image: url('/assets/Header\ 1\ 1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-dark {
    width: 100%;
    height: 100%;
    max-height: 840px;
    max-width: 1500px;
    border: 1px solid red;
    border-radius: 50%;
    background-color: black;
    filter: blur(330px);
    opacity: 0.9;
    position: absolute;
    z-index: 0;
}

/* ----- third section ----- */

.image_wrapper {
    display: flex;
    gap: 30px;
}

.picture_1 {
    transform: translateY(50px);
    img {
      object-position: 50% 10% !important;
    }
  }
  
  .picture_2 {
    transform: translateY(50px);
  }
  .picture_3 {
    transform: translateY(-50px);
    img {
      object-position: 90% 20% !important;
    }
  }
  .picture_4 {
    transform: translateY(-50px);
  }
  
  .image_content_wrapper {
    width: 327px;
    height: 446px;
    position: relative;
    border: 1px solid black;
    box-shadow: inset 0px -84px 17px -5px black;
    overflow: hidden;
    z-index: 1;
    border-radius: 28px;
    transition: all 0.5s ease;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }
  }
  
  .image_content_wrapper:hover {
    transform: translateY(-10px)
  }
  
  a:hover {
    transform: translateY(-10px)
  }
  
  .contet_shadow {
    position: absolute;
    width: 100%;
    height: 100px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 40%
    );
    z-index: 1;
    bottom: 0;
  }
  
  .content_image {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 20px;
  
    span {
      z-index: 100;
    }
  }
  
  .content_image .header_content {
    color: white;
    font-size: 11px;
  }
  
  .content_image .subHeader_content {
    color: white;
    font-size: 22px;
  }
  
  .icon {
    position: absolute;
    bottom: 0;
    left: 80%;
    width: 80px;
    height: 50px;
    cursor: pointer;
    z-index: 100;
  }
  
  .arrow {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    /*   border:solid 1px white; */
    transition: 0.5s;
    overflow: hidden;
  }
  
  .arrow:hover {
    /*  animation:borderAni 5s cubic-bezier(0, 0.6, 1, 0.4); */
    border: solid 2px white;
    border-radius: 50%;
  }
  .arrow:after {
    position: absolute;
    display: block;
    content: "";
    color: white;
    width: 14px;
    height: 15px;
    top: -1px;
    border-bottom: solid 2px;
    transform: translatex(4px);
  }
  
  .arrow:before {
    position: absolute;
    display: block;
    content: "";
    color: white;
    width: 8px;
    height: 8px;
    /*   border:solid 1px;  */
    border-top: solid 2px;
    border-left: solid 2px;
    top: 50%;
    left: 20px;
    transform-origin: 0% 0%;
    transform: rotatez(135deg);
  }


/* ----- fourth section ----- */

#fourth-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 20px;
}

.foruth-section-wrapper {
    width: 100%;
    max-width: 1400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.item_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
    max-width: 900px;
    max-height: 520px;
    border: 1px solid black;
    overflow: hidden;
    background-color: #D9D9D9;
}

.item-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.item_content label {
    font-size: 33px;
    font-weight: 700;
}

.item_content span {
    font-size: 16px;
    font-weight: 600;
}

.item-figure img{
    width: 400px;
    height: 300px;
}


.fourSection {
   width: auto; 
}


/* ----- fifth section ----- */

#fifth-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    margin-top: 20px;
    position: relative;
}


.figure_section {
    position: relative;
}

.figure_section_fi {
    position: relative;
}

.figure_section_fi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    mask-image: linear-gradient(
        to bottom, 
        black 80%,
        black
        );
}

.figure_section_fi div {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 77px;
    left: 60px;
    gap: 20px;
    z-index: 10;
}

.fig_dataContainer label {
    font-size: 32px;
    width: 425px;
    font-weight: 600;
    color: white;
}

.fig_dataContainer span {
    font-size: 16px;
    color: white;
    width: 620px;
}

.section_wrapper {
    position: relative;
}

.span_figure {
    font-size: 139px;
    position: absolute;
    right: 10px;
    bottom: -45px;
    color: white;
    color: transparent;
    font-weight: 700;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}

.shadow {
    position: absolute;
    width: 100%; 
    border-end-end-radius: 30px ;
    border-end-start-radius: 30px;
    bottom: 6.5px;
    height: 300px;
    z-index: 0;
}

/* ----- AOS animations ----- */

[data-aos="opacity-enter"] {
    opacity: 0;
    transition-property: transform, opacity;
  
    &.aos-animate {
      opacity: 1;
    }
  
  }
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #FF6363;
  }
  
  .svg-icon circle {
    stroke: #FF6363;
    stroke-width: 1;
  }

  